body {
  font-family: Arial, sans-serif;
}

#chart {
  width: 80%;
  margin: 20px auto;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
}

#selection,
#filters {
  margin: 20px auto;
  text-align: center;
}

.slider-container {
  margin-bottom: 20px;
}

.slider-container label {
  display: block;
  margin-top: 5px;
  text-align: center;
}

.slider-container input[type="range"] {
  width: 300px;
  display: block;
  margin: 10px auto;
}

.slider-container span {
  display: block;
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.line {
  fill: none;
  stroke: blue;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
}

/* Hovering over the line chart will highlight the point and show the tooltip */
.point:hover {
  stroke-width: 8px;
}

.point {
  fill: blue;
  stroke: white;
  stroke-width: 2px;
}
